/*TODO*/
/*@import url('//at.alicdn.com/t/font_1280682_naxwnc6of0c.css');*/
html {
  font-size: 100px;
  -webkit-tap-highlight-color: transparent;
}
.iconfont {
  vertical-align: middle;
}

*:focus {
  outline: none;
}

div :focus {
  outline: none;
}

.fXedfB {
  background: transparent !important;
}
