/*TODO*/
/*@import url('//at.alicdn.com/t/font_1280682_naxwnc6of0c.css');*/

@import 'bp';

html {
  font-size: 100px;
  -webkit-tap-highlight-color: transparent;
}

body {
  line-height: 1;
  user-select: none;
}

.iconfont {
  vertical-align: middle;
}

*:focus {
  outline: none;
}

div :focus {
  outline: none;
}

.fXedfB {
  background: transparent !important;
}

.bm-toolbar-item {
  .more {
    color: #e91e63;
  }

  .theme {
    color: #2196f3;
  }

  .layout {
    color: #009688;
  }

  .search {
    color: #ff5722;
  }

  .bp3-dark & {
    .icon {
      color: inherit;
    }
  }
}

.bm-btn {
  cursor: pointer;
  margin: 10px;
}

.bm-column {
  display: flex;
  flex-direction: column;
}

.bm-setting-group {
  padding: 5px 0 10px 0;
  border-right: none;
  &:last-child {
    border-bottom: none;
  }
}
