$pt-font-size: 12px;

$dark-colors: (
  'zindex-bg': #383838,
  'toolbar-bg': #494646,
  'toolbar-item-bg': #726e6f,
  'item-bg': #444,
  'item-bg-active': #58595a,
  'item': #c6c2c3,
  'item-active': #fff,
  //'card-bg': #2f3235,
    'card-bg': #444,
  'text': #eee,
  //'text': rgb(194,193,187),
    'text-gray': #999,
  'line': #5f5f5f,
  'selected-bg': #323944
);

$light-colors: (
  'bg': #fafafa,
  'zindex-bg': #2f2f2f,
  'toolbar-bg': #d6d6d6,
  'toolbar-item-bg': #f5f5f5,
  'item': #8e8e8e,
  'item-active': #000,
  //'text': #000,
    'text': #182026,
  'text-gray': #555,
  'line': #dcdcdc,
  'selected-bg': #d1eaff
);
